@using System.Security.Claims;
@model ClaimsIdentity

@{
    ViewBag.Title = "Account info";
}

<ol>
    @foreach (var item in Model.Claims)
    {
        <li>@item.Type : @item.Value</li>
    }   
</ol>  