@model Portfolio.Models.Authentication.Entity.User
@{
}

<h1>User profile</h1>

<table>
    <tr>
        <td>Username:@Model.NormalizedUserName</td>
    </tr>
    <tr>
        <td>Email:@Model.NormalizedEmail</td>
    </tr>
    <tr>
        <td>Phone:@Model.PhoneNumber</td>
    </tr>
</table>