@model LoginForm
@{
    ViewBag.Title = "Index";
}

<form asp-antiforgery="true" method="post">
    <input asp-for="Email" placeholder="Email" />
    <input type="password" asp-for="Password" placeholder="Password" />
    <input type="submit" value="Send" />
</form>
