@model IEnumerable<ContactModel>


<table>
    <tr>
        <td>Id</td>
        <td>Author</td>
        <td>Subject</td>
        <td>Message</td>
    </tr>
    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
        </tr>
    }
</table>