@model PostModel

@{
    ViewBag.Title = "Create post";
}

<form method="post" style="margin:50px">
        <input asp-for="Id" type="hidden" />
        <input asp-for="Title" />
        <br />
        <textarea asp-for="Content"></textarea>
        <br />
        <label asp-for="IsPubleched"></label>
        <input asp-for="IsPubleched" style="appearance:auto; -webkit-appearance:auto" />
        <br />
        <input type="submit" value="Send" />
</form>