@model Portfolio.Models.Authentication.ViewModel.EditViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}

<div asp-validation-summary="All"></div>

<form asp-action="Edit" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Год рождения</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>