@model IEnumerable<Portfolio.Models.Authentication.Entity.User>
@{
    ViewBag.Title = "Список пользователей";
}

<a asp-action="Create" asp-controller="Admin">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th>UserName</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>
                <form asp-action="Delete" asp-controller="Admin" asp-route-id="@user.Id" method="post">
                    <a asp-action="Edit" asp-controller="Admin" asp-route-id="@user.Id">Изменить</a>
                    <button type="submit">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>