@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewBag.Title = "Info";
}
<table>
    <tr>
        <td>Type</td>
        <td>Value</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Type</td>
            <td>@item.Value</td>
        </tr>
    }
</table>

